.git
.github
.vscode
.idea
.env
.env.*
!.env.example

node_modules
**/node_modules

dist
**/dist
build
**/build
.next
**/.next
.turbo
**/.turbo

coverage
**/coverage
*.log
**/*.log

docs
infra
README.md
CLAUDE.md
